/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*


/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* section */

.section {
  padding-bottom: 5rem;
}

#about {
   height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
padding: 40px 0;
}

#services,

#contact {
  height: auto;
  padding: 40px 0;
  
}
#services,
#contact {
  background: #fff;
}

.title h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
}
.title span {
  color: hsla(182, 63%, 54%);
}

.title p {
  text-align: center;

  letter-spacing: 0.2rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

/*
=============== 
Global Styles Ends
===============
*/

/*  navigation  */
#navigation {
  max-width: 100%;
}

.nav-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.nav-toggle {
  display: none;
  font-size: 1.2rem;
  color: hsl(209, 61%, 16%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: hsl(205, 77%, 27%);
}

.links-container {
  width: 50%;
}

.nav-center {
  flex: 1;
  display: flex;
  align-items: center;
}

/* fixed nav */
.fixed-nav {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: hsl(209, 61%, 16%);
}
.fixed-nav .links a {
  color: hsl(209, 61%, 16%);
}
.fixed-nav .links a:hover {
  color: hsla(182, 63%, 54%);
}
/* .fixed-nav .links-container {
  height: auto !important;
} */

/*logo*/
.logo p a {
  text-decoration: none;
  font-weight: bold;
  color: #111;
  font-size: 50px;
  text-shadow: 2px 2px 8px #fffcfc;
  margin-left: 50px;
}

.links {
  display: flex;
}

.links li {
  margin: 30px 20px;
}

.links li a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
/*hero section*/
#hero {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(images/bbbb.jpg) center/cover no-repeat;
  background-position: center;
}

.banner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
}
.container p {
  color: #fff;
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: #222;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.25rem;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid #222;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.btn:hover {
  color: #fff;
  background: #222;
}

.btn-white {
  color: #fff;
  border-color: #fff;
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: #fff;
  color: hsla(182, 63%, 54%);
}

/*footer starts*/
footer {
  width: 100%;

  padding: 5rem 1rem;
}
footer p {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  margin-bottom: 0;
  font-weight: bold;
}

/*footer ends*/

/* top link*/
.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: hsla(182, 63%, 54%);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 0.25rem;
  color: #fff;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/*top link*/

/*about section starts*/

.about {
  width: 100%;
  display: flex;
  
}

.about-text {
  flex: 1;
  padding: 50px;
}

.about-text p {
  margin-bottom: 1.25rem;
  
}

.about-img {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img img {
  width: 100%;
  height: 100%;
 
}

/*about section ends*/



/*services section starts*/

.gallery {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.gallery .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.gallery .box .pic-place {
  position: relative;
  width: 100%;
  height: 300px;
}
.gallery .box .pic-place img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery .box .text {
  padding: 15px 0 5px;
  background-color: white;
}

.gallery .box .text h3 {
  font-weight: 400;
  color: #111;
}

/*gallery section ends*/

/*contact section starts*/

#contact {
  display: flex;
  width: 100%;
  background: hsl(209, 61%, 16%);
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.contact-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-info h3 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin: 0.75rem 0;
  font-family: "Roboto", sans-serif;
}

.contact-info h5 {
  font-size: 30px;
  color: hsla(182, 63%, 54%);
}

.contact-info a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.contact-info a:hover {
  color: #49a6e9;
}

.social-links {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links .link-cont {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.social-links .link-cont a {
  text-decoration: none;
  color: #fff;
  font-size: 50px;
}

.social-links .link-cont a:hover {
  color: #49a6e9;
}
/*contact section ends*/

@media (max-width: 800px) {
  .navigation {
    width: 100%;
  }

  .nav-header {
    width: 100%;
    flex-direction: column;
    background-color: #fff;
  }

  .links-container {
    width: 100%;

    height: 0;
    overflow: hidden;
  }

  .links {
    width: 100%;
    flex-direction: column;
    background-color: #fff;
  }

  .links li {
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }

  .links li a {
    color: gray;
    font-size: 15px;
  }

  .links li a:hover {
    color: black;
  }

  .nav-center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
  }

  /*logo*/
  .logo p a {
    margin-left: 0px;
    font-size: 30px;
  }

  .nav-toggle {
    display: block;
  }

  .show-links {
    height: 200px;
  }
}

@media screen and (max-width: 800px) {
  /*contact*/
  .contact-info {
    text-align: center;
  }
  .contact-info p {
    margin: 1rem;
  }

  .contact-info a {
    font-size: 20px;
  }
  .social-links .link-cont {
    width: 100%;
    justify-content: space-around;
  }

  /*gallery*/

  .gallery .box .text h3 {
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .nav-header {
    width: 100%;
  }

  .logo p a {
    font-size: 40px;
  }

  .links-container {
    width: 50%;
  }

  .links li {
    margin: 30px 15px;
  }

  .links li a {
    font-size: 15px;
  }

  .container h1 {
    font-size: 3rem;
  }
}

@media (max-width: 880px) {
  .logo p a {
    font-size: 35px;
  }

  .links li {
    margin: 30px 10px;
  }

  /*about*/
  .about {
    flex-direction: column-reverse;
  }
  .about-text {
    width: 100%;
    padding: 30px;
    text-align: center;
  }

  /*services*/

  .services {
    width: 100%;
  }

  .services .box {
    width: 45%;
  }
}

@media (max-width: 500px) {
  /*logo*/

  .logo p a {
    font-size: 20px;
  }

  /*links container*/
  .links-container {
    width: 100%;
  }
  /*navigatio*/
  .links li {
    margin: 0;
  }

  /*about*/
  .about-text {
    padding: 20px;
  }

  .about-img img {
    width: 90%;
  }

  /*banner*/
  .container h1 {
    font-size: 2.5rem;
  }

  /*services*/
  .services {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .services .box .imgBx {
    margin: 20px 0;
  }

  .services .box {
    width: 80%;
    background-color: rgb(252, 250, 247);
  }
}


.fb-ig-container {
 margin:50px 0;
  width:100%;
  display:flex;
  justify-content: center;
}

.fb-ig-container iframe {
    width: 80%;
  }



@media (max-width: 500px) {
  .fb-ig-container {
 margin:5px 0;
  width:100%;
  
}

.fb-ig-container iframe {
    width: 90%;
  }
  
}
